@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

section {
  padding-block: 25px;
}

@media only screen and (min-width: 768px) {
  section {
    padding-block: 85px;
  }
}

.has-gradient {
  background: linear-gradient(124.18deg, #78b4e0 30.53%, #d9eaf6 70.22%);
  padding: 32px 40px;
  border-radius: 32px;
}

.subscribe h3 {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

@media only screen and (min-width: 768px) {
  .subscribe h3 {
    font-size: 36px;
    line-height: 51px;
  }
}

.subscribe .hand-img img {
  width: 105px;
  height: 73px;
}

@media only screen and (min-width: 768px) {
  .subscribe .hand-img img {
    width: auto;
    height: auto;
  }
}

.subscribe .subscribe-button {
  margin-top: 3px;
  border: none;
  border-radius: 50px;
  font-weight: 700;
  padding: 9px 27px;
  text-align: center;
  font-style: italic;
  font-size: 14px;
  line-height: 21px;
  color: #fff;
  background-color: #6eafde;
  margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
  .subscribe .subscribe-button {
    font-size: 31px;
    line-height: 48px;
  }
}

.pet-subscribe {
  display: none;
}

@media only screen and (min-width: 768px) {
  .subscribe .pet-subscribe {
    display: block;
  }
}

.subscribe .main-img {
  transform: translateY(15%);
}

.subscribe .subscribe-title {
  border: 1px solid #6eafde;
  font-size: 24px;
  line-height: 37px;
  font-weight: 700;
  color: black;
  border-radius: 60px;
  padding: 6px 43px;
  max-width: 1198px;
  margin: auto;
}

.subscribe .subscribe-title img {
  width: 50px;
  height: 38px;
}

.subscribe .subscribe-title span {
  font-style: italic;
  color: #fff;
}

.subscribe .subscribe-title .subscribe-button {
  padding: 0;
  background: #fff;
}

.subscribe .subscribe-title .subscribe-button span {
  background: #fff;
  font-size: 11px;
  color: #fff;
  line-height: 16px;
  background-color: #67b77c;
  padding: 6px;
  display: block;
  border-radius: 20px;
}

.subscribe .subscribe-title h4 {
  color: #67b77c;
  font-size: 30px;
  font-weight: 700;
}

.subscribe .subscribe-title h2 {
  font-weight: 700;
  line-height: 36px;
  font-size: 24px;
  font-style: italic;
}

.subscribe-cards {
  margin-top: 0;
}

@media only screen and (min-width: 768px) {
  .subscribe-cards {
    margin-top: 32px;
  }
}

.subscribe .subscribe-card {
  background: #e75184;
  text-align: center;
  color: #fff;
  border-radius: 32px;
  padding: 18px 58px;
  height: 100%;
}

@media only screen and (min-width: 768px) {
  .subscribe .subscribe-card {
    padding: 12px 58px;
  }
}

.subscribe-cards > *:nth-child(2) > * {
  background: #67b77c;
}

.subscribe-cards > *:nth-child(3) > * {
  background: #6eafde;
}

.subscribe .subscribe-card h1 {
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
}

@media only screen and (min-width: 768px) {
  .subscribe .subscribe-card h1 {
    font-size: 75px;
    line-height: 33px;
  }
}

.subscribe .subscribe-card h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

@media only screen and (min-width: 768px) {
  .subscribe .subscribe-card h3 {
    font-size: 28px;
    line-height: 26px;
  }
}

.subscribe .subscribe-card p {
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
}

@media only screen and (min-width: 768px) {
  .subscribe .subscribe-card p {
    font-size: 18px;
    line-height: 27px;
  }
}

.subscribe .shop-now {
  margin-top: 16px;
  background: #1c75ba;
  border-radius: 50px;
  font-weight: 700;
  text-align: center;
  color: #fff;
  padding: 9px 50px;
  border: none;
  filter: drop-shadow(4px 6px 16px rgba(0, 0, 0, 0.5));
  font-size: 12px;
  line-height: 18px;
  display: block;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .subscribe .shop-now {
    line-height: 54px;
    font-size: 36px;
    padding: 18px 50px;
    width: auto;
    margin: auto;
    margin-top: 32px;
  }
}

.news-letter .news-letter-desc h3 {
  color: #1c75ba;
  font-weight: 700;
  font-size: 28px;
  line-height: 32px;
  text-align: center;
}

@media only screen and (min-width: 1200px) {
  .news-letter .news-letter-desc h3 {
    font-size: 36px;
    line-height: 47px;
  }
}

.news-letter .news-letter-desc p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  text-align: center;
}

@media only screen and (min-width: 1200px) {
  .news-letter .news-letter-desc p {
    font-size: 24px;
    line-height: 32px;
  }
}

.news-letter .dog {
  width: 192px;
  height: 290px;
  transform: translateY(-25%);
  right: 40px;
}

@media only screen and (min-width: 1200px) {
  .news-letter .dog {
    transform: translateY(-25%);
    right: 60px;
    width: auto;
    height: auto;
  }
}

.news-letter .qr-code {
  right: 155px;
  width: 155px;
  height: 155px;
}

@media only screen and (min-width: 1200px) {
  .news-letter .qr-code {
    right: 195px;
    width: auto;
    height: auto;
  }
}

.faq {
  padding: 55px 0 !important;
  background-color: #e6e7e8;
  background-image: url("/img/bg.png");
  background-repeat: no-repeat;
  position: relative;
}

.faq .faq-left {
  text-align: center;
}

.faq .faq-left img {
  width: 221px;
  height: 220.87px;
}

@media only screen and (min-width: 576px) {
  .faq .faq-left img {
    width: auto;
    height: auto;
  }
}

@media only screen and (min-width: 768px) {
  .faq .faq-left {
    text-align: center;
  }
}

@media only screen and (min-width: 768px) {
  .faq .faq-left {
    margin-top: -90px;
  }
}

.faq .faq-right h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  margin-top: 16px;
  text-align: center;
  color: #1c75ba;
}

@media only screen and (min-width: 576px) {
  .faq .faq-right h3 {
    margin-top: 16px;
    font-size: 36px;
    line-height: 54px;
  }
}

.faq .faq-right h5 {
  font-size: 10px;
  line-height: 15px;
  font-weight: 400;
  color: #1c75ba;
  text-align: center;
  margin-bottom: 15px;
}

@media only screen and (min-width: 576px) {
  .faq .faq-right h5 {
    font-size: 28px;
    line-height: 42px;
  }
}

.faq .faq-right .faq-cards > *:nth-child(2) h2 {
  color: #67b77c;
}

.faq .faq-right .faq-cards > *:nth-child(2) button {
  background: #67b77c;
}

.faq .faq-right .faq-cards > *:nth-child(3) h2 {
  color: #8e7aac;
}

.faq .faq-right .faq-cards > *:nth-child(3) button {
  background: #8e7aac;
}

.faq .faq-right .faq-card {
  display: flex;
  max-width: 120px;
  margin: auto;
}

@media only screen and (min-width: 576px) {
  .faq .faq-right .faq-card {
    display: block;
    max-width: 100%;
  }
}

.faq .faq-right .faq-card img {
  width: 12px;
  height: 11px;
}

@media only screen and (min-width: 576px) {
  .faq .faq-right .faq-card img {
    width: auto;
    height: auto;
  }
}

.faq .faq-right .faq-card h2 {
  margin-inline: 10px;
  color: #e75184;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
}

@media only screen and (min-width: 576px) {
  .faq .faq-right .faq-card h2 {
    margin-block: 18px;
    font-size: 24px;
    line-height: 36px;
  }
}

.faq .faq-right .faq-card p {
  font-weight: 400;
  font-size: 18px;
  color: #000000;
  line-height: 24px;
}

.faq .faq-right .faq-card button {
  margin-top: 5px;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: #ffffff;
  padding: 11px 25px;
  border-radius: 20px;
  background: #e75184;
  border: none;
}

footer {
  padding-top: 32px;
  background: #6eafde;
}

footer .did-you-know-column h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;

  color: #fff;
}

@media only screen and (min-width: 768px) {
  footer .did-you-know-column h2 {
    font-size: 36px;
    line-height: 54px;
  }
}

.did-you-know-column img {
  width: 45px;
  height: 49px;
}

@media only screen and (min-width: 768px) {
  .did-you-know-column img {
    width: auto;
    height: auto;
  }
}

footer .contribution-column p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

@media only screen and (min-width: 768px) {
  footer .contribution-column p {
    font-size: 24px;
    line-height: 36px;
  }
}

footer .learn-more-column button {
  padding: 10px 65px;
  color: #fff;
  border: none;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  background: #1c75ba;
  box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.32);
  border-radius: 20px;
}

@media only screen and (min-width: 768px) {
  footer .learn-more-column button {
    font-size: 18px;
    line-height: 27px;
    padding: 10px 48px;
  }
}

footer .footer-content-row {
  margin-bottom: 30px;
}

footer .footer-content-row h2 {
  font-weight: 300;
  font-size: 32px;
  color: #fff;
}

@media only screen and (min-width: 768px) {
  footer .footer-content-row h2 {
    font-size: 36px;
  }
}

footer .footer-content-row p {
  font-weight: 500;
  color: #fff;
  font-size: 18px;
  line-height: 27px;
}

@media only screen and (min-width: 768px) {
  footer .footer-content-row p {
    font-size: 21px;
    line-height: 28px;
  }
}

footer .footer-column h2 {
  font-weight: 700;
  font-size: 18px;
  color: #ffffff;
  line-height: 27px;
  margin-bottom: 12px;
}

footer .footer-content-row .footer-column ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 9px;
}

footer .footer-content-row .footer-column li {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #fff;
}

footer .footer-content-row .footer-column li:not(:last-child) {
  margin-bottom: 8px;
}

footer .social-icons {
  display: flex;
  list-style: none;
  padding: 0;
}

footer .social-icons li a {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  align-items: center;
  color: #6eafde;
  justify-content: center;
  text-decoration: none;
}

footer .social-icons li:not(:last-child) {
  margin-right: 13px;
}

footer .customer-opinion {
  background: #fff;
  border-radius: 20px;
  padding: 17px;
}

footer .customer-opinion h4 {
  font-weight: 400;
  color: #1c75ba;
  font-size: 18px;
  line-height: 27px;
}

footer .customer-opinion p {
  font-size: 14px;
  line-height: 21px;
}

footer .customer-opinion .starts {
  display: flex;
  padding: 4px 14px;
  background: #e9f3fa;
  list-style: none;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

footer .customer-opinion .starts li {
  color: #facd4d;
}

footer .customer-opinion .starts li:not(:last-child) {
  margin-right: 4px;
}

footer .copywrite {
  margin-top: 16px;
  border-top: 0.5px solid #dadada;
  text-align: center;
  color: #dadada;
  padding-top: 8px;
  padding-bottom: 16px;
  font-size: 8px;
  line-height: 12px;
}

@media only screen and (max-width: 575px) {
  .has-border > * > * {
    padding-block: 32px;
  }

  .has-border > *:not(:last-child) > * {
    border-bottom: 1px solid #fff;
  }
}

.product-slider-section h2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #6eafde;
  text-align: center;
  margin-bottom: 16px;
}

@media only screen and (min-width: 576px) {
  .product-slider-section h2 {
    font-size: 36px;
    line-height: 54px;
    margin-bottom: 24px;
  }
}

.batch {
  height: 70px;
}

.batch + img {
  object-fit: contain;
  height: 80px;
}

@media only screen and (min-width: 576px) {
  .batch + img {
    height: 100px;
  }
}

.batch > div {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #6eafde;
  font-size: 6px;
  line-height: 8px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  padding: 4px 10px;
  border-radius: 12px;
}

@media only screen and (min-width: 576px) {
  .batch > div {
    font-size: 12px;
    line-height: 18px;
  }
}

.batch > div:where(.best-seller) {
  background: #8e7aac;
}

.batch > div:where(.on-sale) {
  background: #e75184;
}

.batch > div:where(.top-rated) {
  background: #67b77c;
}

.batch .love {
  display: inline-block;
  transform: rotate(-20deg);
}

.product {
  position: relative;
  padding-block: 10px;
}

.slick-track > *:where(.slick-active):last-child {
  background-color: red !important;
}

.product-slider .slick-track > *:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 5px;
  height: 100%;
  background-image: url(img/slider-border.png);
  background-size: cover;
}

.product .product-name {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #000;
  margin-top: 6px;
  margin-bottom: 0;
}

@media only screen and (min-width: 576px) {
  .product .product-name {
    line-height: 20px;
  }
}

.product .product-size {
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  color: #000;
  height: 25px;
  margin-block: 10px;
  padding-inline: 24px;
}

@media only screen and (min-width: 576px) {
  .product .product-size {
    margin-block: 12px;
  }
}

.product .product-size select {
  padding: 2px 12px;
  width: 100%;
  border-radius: 12px;
  background: transparent;
  border: 1px solid #e6e7e8;
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg width='8' height='6' viewBox='0 0 8 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.33181 5.60999C4.28271 5.69969 4.21029 5.77453 4.1223 5.82666C4.03431 5.8788 3.934 5.90637 3.83172 5.90637C3.72944 5.90637 3.629 5.8788 3.54102 5.82666C3.45303 5.77453 3.38073 5.69969 3.33163 5.60999L0.89111 1.69995C0.311002 0.759951 0.731143 0 1.83135 0H5.83209C6.9423 0 7.36238 0.759951 6.83228 1.69995L4.33181 5.60999Z' fill='%236D6E71'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: 96% center;
}

.product .product-stars {
  list-style: none;
  display: inline-flex;
  background: #e9f3fa;
  border-radius: 8px;
  padding: 0;
  padding-inline: 4px;
  margin-bottom: 4px;
}

.product .product-stars li {
  padding: 1px;
  color: #facd4d;
  font-size: 8px;
}

@media only screen and (min-width: 575px) {
  .product .product-stars li {
    font-size: 12px;
  }
}

.product .product-review {
  font-weight: 400;
  font-size: 8px;
  line-height: 10px;
  color: #000;
  margin-bottom: 12px;
}

@media only screen and (min-width: 576px) {
  .product .product-review {
    font-size: 10px;
    line-height: 15px;
  }
}

.product .product-price {
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  color: #000;
}

@media only screen and (min-width: 576px) {
  .product .product-price {
    font-size: 12px;
    line-height: 18px;
  }
}

.product .cart-icon {
  background: #6eafde;
  margin: auto;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3px;
}

.product .cart-icon img {
  width: 8px;
  height: 8px;
}

@media only screen and (min-width: 576px) {
  .product .cart-icon {
    width: 30px;
    height: 30px;
  }

  .product .cart-icon img {
    width: auto;
    height: auto;
  }
}

.product .product-cart {
  font-size: 8px;
  line-height: 12px;
  border: none;
  background: transparent;
  font-weight: 400;
  color: #6eafde;
}

@media only screen and (min-width: 576px) {
  .product .product-cart {
    font-size: 12px;
    line-height: 18px;
  }
}

.product-slider-wrapper {
  padding-inline: 2rem;
}

@media only screen and (min-width: 576px) {
  .product-slider-wrapper {
    padding-inline: 2.9rem;
  }
}

.product-slider {
  position: relative;
  padding-block: 12px;
  z-index: 999;
}

.product-slider::after,
.product-slider::before {
  content: "";
  position: absolute;
  z-index: -10;
}

.product-slider::after {
  transform: translateY(-50%);
  top: 50%;
  right: -18px;
  background-color: transparent;
  width: 200px;
  height: 100%;
  background-image: url(img/slider-right-wing.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

.product-slider::before {
  transform: translateY(-50%);
  top: 50%;
  left: -18px;
  background-color: transparent;
  width: 200px;
  height: 100%;
  background-image: url(img/slider-left-wing.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
}

@media only screen and (min-width: 620px) {
  .product-slider::after {
    right: -23px;
  }
  .product-slider::before {
    left: -23px;
  }
}

.pagination {
  border: none;
  background: transparent;
  font-size: 18px;
  color: #9ac7e8;
  top: 50%;
}

@media only screen and (max-width: 576px) {
  .pagination {
    font-size: 22px;
  }
}

.pagination.pull-left {
  position: absolute;
  top: 50%;
  left: -45px;
  transform: rotate(90deg) translateY(-50%);
}

.pagination.pull-right {
  position: absolute;
  top: 50%;
  right: -45px;
  transform: rotate(-90deg) translateY(-50%);
}
